*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.flex-container{
    display:flex;
    width:80%;
    height:90vh;
    padding-top:70px;
    margin:0 auto;
    justify-content:space-between;
}
.flex-container .text-section{
    width:50%;
    margin-top: 80px;
    margin-right:50px;
}
.flex-container .image-section{
    width:50%;
    margin-left:50px;
}
.image-section .text{
    margin-top:18px;
}
.image-section .text h2{
    margin-bottom:8px;
}
.flex-container .text-section h1{
    margin-top:50px;
    font-size:50px;
}
.num{
    display: flex;
}
.num .text{
    margin-left:20px;
}
.num .text p{
font-size:18px;
}

.image{
    margin-left:20px;
}
.image .line{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:35px;
}

#templateTwo{
    background:rgba(160, 156, 148, 0.56);
}
.theWrapper{
    padding-top: 80px;
}
.headings .header{
    width:80%;
    text-align:center;
    padding:10px;
    font-size:50px;
    margin:0px auto;
}
.headings .paragraph{
    width:80%;
    text-align: center;
    font-size:30px;
    margin:0px auto;
}

.flex-wrap #grid{
    width:80%;
    margin:0px auto;
    justify-content: center;
    margin-left:10%;
    margin-top: 80px;
}
.bottom{
    width:80%;
    margin-top:30px;
    margin-left:200px;
    display:flex;
    justify-content:flex-end;
}
.bottom img{
    margin-left:10px;
    width:50px;
}
.bottom p{
    padding-top:20px;
    padding-bottom:20px;
    font-size:25px;
}

 
#templateThree .firstImage{
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:40vh;
}

.experience{
    padding-top:100px;
}

#templateFour{
    width:100%;
  
}
#templateFour .brands{
    background-repeat:no-repeat;
    height: 70vh;
    width:100%;
    background-size:cover;
    margin:0px auto;
}

